<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.garigarimaru_main"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- android:minSdkVersion="8" -->>
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.garigarimaru_main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 追加 -->
        <activity android:name=".FirstActivity"></activity>
        <activity android:name=".GraphWeightActivity"></activity>
        <activity android:name=".GraphCalorieActivity"></activity>
        <activity android:name=".GraphStepActivity"></activity>
        <activity android:name=".ManpokeiActivity"></activity>
        <service 
		    android:name=".BindService"
		    android:exported="false">
			<intent-filter>
				<action
					android:name="com.example.garigarimaru_main.BindServiceAIDL"/>
			</intent-filter>
		</service>
    </application>

</manifest>
